#enterhighscore {
	height: 384px;
	width: 555.12px;
	background-color: #77b129;
	background-image: url("../images/enterHighScoresBG.png");
    background-size: 553.6px 220px;
    background-repeat: no-repeat;
    background-position: center;
	position: relative;
    margin-left: 220px;
	z-index: 999;
	border-radius: 12px;
}

@font-face {
    font-family: Quicksand;
	src: url("../style/Quicksand-Bold.otf");
}
        
h1 {
    font-family: Quicksand;
    font-size: 42px;
	font-weight: bold;
    color: white; 
    text-align: center;
	padding-top: 20px;
	margin: 0;
}

#enterhighscorecontent {
	font-family: Quicksand;
	font-weight: bold;
	text-align: left;
	color: #77b129;
	margin-top: 10px;
	font-size: 30px;
}

#initialsheading {
	background-color: #bcf66e;
	width: 280px;
	height: 30px;
	margin: auto;
	margin-top: 75px;
	text-align: center;
}

#initials {
	width: 220px;
	margin: auto;
	text-align: center;
	margin-top: 14px;
}

#enterinitials {
	height: 90px;
	width: 200px;
	color: #ffffff;
	background-color: #77b129;
	border-radius: 6px;
	border: none;
	outline: none;
	margin: auto;
	font-size: 66px;
	text-transform: uppercase;
	text-align: center;
}

#ehsbutton {
	width: 180px;
	margin: auto;
	margin-top: 40px;
	text-align: center;
}

#submithighscore {
    background-color: #FFFFFF;
    border-radius: 6px;
    border: none;
	outline: none;
    width: 170px;
    height: 60px;
    font-family: Quicksand;
    font-size: 29px;
	font-weight: bold;
	text-decoration: none;
    color: #77b129;
}

#submithighscore:active {
	color: #ffffff;
	background-color: #bcf66e;
}