html, body {
    width: 100%;
    height: 100%;
    font-family: Quicksand;
    margin:auto;
    overflow:hidden;
}

@font-face {
    font-family: Quicksand;
	  src: url("../style/Quicksand-Bold.otf");
}

img.roundpiano {
  	display: block;
  	height: 95%;
  	width:100%;
    min-width:100px;
    max-height:80%;
    max-width:90%;
    margin:auto;
    margin-top:-4%;
}

#buttoncontainer {
  	height: auto;
  	width: 9%;
  	clear:both;
    min-width:100px;
}


.button {
  	position: fixed;
  	border-radius: 15%;
  	background-color: #FFFFFF;
  	font-family: Quicksand;
  	color:black;
  	border: 2px solid #000000;
    margin-left: 35%;
    margin-top:-30%;
  	height: auto;
  	padding-left:3%;
  	padding-right:3%;
    font-size:2vw;
}

.button:hover {
    color:  #FFFFFF;
    background-color: #9c298c;
    cursor: pointer;
}
