html, body {
    height: 100%;
    width: 100%; 
    background-color: #454545;
    overflow: hidden;
}

#container {
    height: 100%;
    width: 100%;
}
#topbar {
	z-index: 4;
	position: absolute;
	width: 1027px;
}
#menubutton {
    height: 80px;
    width: 80px;
    background-color: #ED008C;
    border-radius: 0 0 0 20px;
    outline: none;
	border: none;
    background-image: url("../images/menubutton.png");
    background-size: 55%;
    background-repeat: no-repeat;
    background-position: center;
	cursor: pointer;
}

#settingsbutton {
    height: 80px;
    width: 80px;
	margin: 0 0 0 42px;
    background-color: #ED008C; 
    border-radius: 0 0 20px 0;
    outline: none;
	border: none;
    background-image: url("../images/settingscog.png");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
	cursor: pointer;
	float: right;
}

#keyboard, #transparent, .keys, #overlay {
    max-height: 98%;
    max-width: 100%;
    position:  absolute; 
    left:  0;
    top:  0;    
}

#keyboard, #transparent, .keys, .shapes, #staff, #lives, #gameover, #topbar, #timer, #wins, #overlay {
    
    /*prevent user selection of image*/
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

@font-face {
    font-family: Quicksand;
    src: url("../style/Quicksand-Bold.otf");
}

.keys {
    display:  none;
}

#lives {
	display: inline-block;
	max-width: 220px;
    position: absolute;
    z-index:  4;
    top:  2%;
}

#staff {
    position:  absolute;
    left:  0;
    padding-left: 5%;
    padding-top:  2%;
    
}

.shapes, .letters {
    height: 70%;
}



#timer {
    position:  absolute; 
    left: 9%;
    top:  3.5%;
    font-family: Quicksand;
    font-size:40px;
    color:red;
}


.lifeimg {
    padding-top:  1%;
    height:  100%;    
    float:  right;    
}


@font-face {
    font-family: Quicksand;
	src: url("../style/Quicksand-Bold.otf");
}

#wins {
    font-family: Quicksand;
    display:inline;
    color:  white;
    position:  absolute;
    left: 0;
    top: 2%;
    text-align:  center;
    font-weight:  bold;
    font-size: 30px;
}

#sheep {
    position:absolute; 
    z-index:1; 
    left:8px;
    top: 15%;
    display: none;
}

#overlay {
    background-color: rgba(0,0,0,0.4);
    height: 98%;
    width: 100%;
    display:  none;
    z-index:  5; 
}
