html, body {
    height: 100%;
    width: 100%; 
    background-color: #454545;
    overflow:  hidden;
}

#container {
    height: 100%;
    width: 100%;
}
#keyboard, #transparent, .keys {
    max-height: 98%;
    max-width: 100%;
    position:  absolute; 
    left:  0;
    top:  0;
    
}

#keyboard, #transparent, .keys, .shapes, #staff, #lives, #gameover, #topbar, #timer {
    
    /*prevent user selection of image*/
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

@font-face {
    font-family: Quicksand;
    src: url("../style/Quicksand-Bold.otf");
}

.keys {
    display:  none;
}

#staff {
    position:  absolute;
    left:  0;
    padding-left: 5%;
    padding-top:  2%;
    
}

.shapes {
    height: 70%;
}

#topbar {
	position:relative;
	z-index:1;
	margin-right:100px;
	margin-top:3px;
}

#timer {
    float:left;
    margin-left:80px;
    margin-top:10px;
    font-family: Quicksand;
    font-size:40px;
    color:red;
}

ul {
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}


.lifeimg {
    padding-top:  1%;
    height:  100%;    
    float:  right;    
}


@font-face {
    font-family: Quicksand;
	src: url("../style/Quicksand-Bold.otf");
}

#wins {
    font-family: Quicksand;
    color:  white;
    position:  absolute;
    left: 0;
    top: 3%;
    text-align:  center;
    font-weight:  bold;
    font-size: 30px;
}

#sheep {
    position:absolute; 
    z-index:1; 
    left:8px;
    top: 15%;
    display: none;
}
