#gameover {
	height: 384px;
	width: 555.12px;
	background-color: #FF6138;
	background-image: url("../images/gameoverBG.png");
    background-size: 553.6px 220px;
    background-repeat: no-repeat;
    background-position: center;
	position: relative;
    margin-left: 220px;
	z-index: 999;
	border-radius: 12px;
}