html, body {
    height: 100%;
    width: 100%; 
    background-color: #454545;
}

#container {
    height: 100%;
    width: 100%;
}
#keyboard, #keyC, #keyCSharp, #keyD, #keyDSharp, #keyE, #keyF, #keyFSharp, #keyG, #keyGSharp, #keyA, #keyASharp, #keyB, #transparent {
    max-height: 98%;
    max-width: 100%;
    position:  absolute; 
    left:  0;
    top:  0;
}


#keyC, #keyCSharp, #keyD, #keyDSharp, #keyE, #keyF, #keyFSharp, #keyG, #keyGSharp, #keyA, #keyASharp, #keyB {
    display:  none;
}

#screenElements {
    display:  none;
}