#gameover {
	height: 384px;
	width: 555.12px;
	background-color: #FF6138;
	background-image: url("../images/gameoverBG.png");
    background-size: 553.6px 220px;
    background-repeat: no-repeat;
    background-position: center;
	position: relative;
    margin-left: 220px;
	z-index: 999;
	border-radius: 12px;
}

@font-face {
    font-family: Quicksand;
	src: url("../style/Quicksand-Bold.otf");
}
        
#heading {
    font-family: Quicksand;
    font-size: 42px;
	font-weight: bold;
    color: white; 
    padding-left: 161px;
    padding-top: 21px;
}

#scorecontent {
	font-family: Quicksand;
	font-weight: bold;
	text-align: center;
	color: #ff4a00;
	margin-top: 10px;
	margin-bottom: 10px;
}

#scoreheading {
	font-size: 35px;
	background-color: #f0e9b9;
	width: 120px;
	height: 50px;
	margin: auto;
	margin-top: 40px;
}

#score {
	font-size: 46px;
	background-color: #f0e9b9;
	width: 140px;
	height: 50px;
	margin: auto;
	margin-top: 15px;
}

#bestscore {
	font-size: 20px;
	background-color: #f0e9b9;
	width: 210px;
	height: 25px;
	margin: auto;
	margin-top: 35px;
}

#gameoverbuttons {
	margin-top: 25px;
	padding: 0;
}

#retrybutton {
    background-color: #FFFFFF;
    border-radius: 6px;
    outline: none;
    width: 170px;
    height: 60px;
    font-family: Quicksand;
    font-size: 29px;
	font-weight: bold;
    color: #FF6138;
    position: absolute;
	margin-left: 83px;
	margin-top: 10px;
}

#mainmenu {
    background-color: #FFFFFF;
    border-bottom-left-radius: 12px;
    outline: none;
    width:  110px;
    height: 80px;
    background-image: url("../images/home.png");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
	margin-left: 1px;
}