#instructions {
	height: 384px;
	width: 555.12px;
	background-color: #3287d8;
	background-image: url("../images/instructionsBG.png");
    background-size: 553.6px 220px;
    background-repeat: no-repeat;
    background-position: center;
	position: relative;
    margin-left: 220px;
	z-index: 999;
	border-radius: 12px;
}

@font-face {
    font-family: Quicksand;
	src: url("../style/Quicksand-Bold.otf");
}
        
#heading {
    font-family: Quicksand;
    font-size: 42px;
	font-weight: bold;
    color: white; 
    padding-left: 161px;
    padding-top: 21px;
}

#instructioncontent {
	font-family: Quicksand;
	font-weight: bold;
	text-align: center;
	color: #3287d8;
	margin-top: 75px;
	margin-bottom: 10px;
	font-size: 35px;
}

#howto1 {
	background-color: #aad5ff;
	width: 360px;
	height: 30px;
	margin: auto;
	margin-top: 40px;
}

#howto2 {
	background-color: #aad5ff;
	width: 255px;
	height: 30px;
	margin: auto;
	margin-top: 5px;
}

#howto3 {
	background-color: #aad5ff;
	width: 120px;
	height: 30px;
	margin: auto;
	margin-top: 5px;
}

#button {
	margin-top: 25px;
	padding-top: 50px;
	padding-left: 193px;
}

#confirmbutton {
    background-color: #FFFFFF;
    border-radius: 6px;
    outline: none;
    width: 170px;
    height: 60px;
    font-family: Quicksand;
    font-size: 29px;
	font-weight: bold;
    color: #3287d8;
}