body {
    width: 78%;
    height: 100%;
}

@font-face {
    font-family: Quicksand;
	src: url("../style/Quicksand-Bold.otf");
}

#loading {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 78%;
    height: 100%;
    background-color: #454545;
    background-image: url("../images/spinningcircle.gif");
    background-repeat: no-repeat;
    background-position: center;
}

#loadingtitle {
    z-index: 2000;
    padding-left: 43%;
    padding-top: 30.75%;
    font-family: Quicksand;
    font-size: 160%;
    color: #000;
}

#red {
    color: #f00;
}

#orange {
    color: #ff5d00;
}

#yellow {
    color: #ffca00;    
}

#green {
    color: #00ff21;
}

#blue {
    color: #0094ff;
}

#indigo {
    color: #4800ff;
}

#violet {
    color: #b200ff;
}