body {
    width: 100%;
    height: 100%;
    font-family: Quicksand;
    /*overflow: hidden;*/
    margin:0 auto;
}

@font-face {
    font-family: Quicksand;
	src: url("../style/Quicksand-Bold.otf");
}

#fullscreen {
    width: 73.25%;
    height: 100%;
    background-color: #6E6E6E;
    clear:both;
    min-width:100px;
    margin:auto;
}

#menubar {
    height: 12%;
	width: 100%;
	background-color: #92278F;
	position: relative;
	z-index: 999;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}


#backbutton {
    height: 100%;
    width: 7.75%;
    background-color: #ED008C;
    border-bottom-left-radius: 20px;
    outline: none;
    background-image: url("../images/backarrow.png");
    background-size: 55%;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    outline: none;
	border: none;

}


#title {
    font-family: Quicksand;
    color: #FFFFFF;
    font-size:4vw;
    position: absolute;
    bottom: 15%;
    clear:both;
    min-width:10px;
    margin:auto;
    margin-left:30%;
}

#loggedin {
    position: absolute;
    right: 9%;
    top:  10%;
    font-size: 100%;
    color: #FFFFFF;
    cursor: default;
}

#settingsbutton {
    height: 100%;
    width: 7.75%;
    position: absolute;
    right: 0px;
    top: 0px;
    background-color: #ED008C; 
    border-bottom-right-radius: 20px;
    outline: none;
    background-image: url("../images/settingscog.png");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

#maincontainer {
    height: 100%;
    width: 100%;
}

#levelcontainer {
    height: 100%;
    width: 60%;
    position: relative;
    left: 20%;
    overflow: hidden;
}

#novice {
    height: 15%;
    width: 100%;
    background-color: #FFFFFF;
    position: relative;
    top: 10%;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
}

#novicenote {
    background-image: url("../images/novice.png");
    background-repeat: no-repeat;
    background-size: 37%;
    position: absolute;
    left: 13%;
    top: 26%;
    width: 10%;
    height: 55%;   
}

#noviceword {
    font-family: Quicksand;
    font-size:3vw;
    position: absolute;
    top: 37%;
    left: 43.5%
}

#intermediate {
    height: 15%;
    width: 100%;
    background-color: #FFFFFF;
    position: relative;
    top: 22%;
    border-radius: 20px; 
    outline: none;
    cursor: pointer;
}

#intermediatenote {
    background-image: url("../images/intermediate.png");
    background-repeat: no-repeat;
    background-size: 85%;
    position: absolute;
    left: 10%;
    top: 30%;
    width: 10%;
    height: 60%;    
}

#intermediateword {
    font-family: Quicksand;
    font-size: 3vw;
    position: absolute;
    top: 38.5%;
    left: 36%    
}

#advanced {
    height: 15%;
    width: 100%;
    background-color: #FFFFFF;
    position: absolute;
    top: 64%;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
}

#advancedword {
    font-family: Quicksand;
    font-size: 3vw;
    position: absolute;
    top: 38.5%;
    left: 39.5%  
}

#advancednote {
    background-image: url("../images/advanced.png");
    background-repeat: no-repeat;
    background-size: 24%;
    position: absolute;
    left: 8%;
    top: 24%;
    width: 50%;
    height: 60%
    
}

#freemodebutton {
    height: 10%;
    width: 10%;
    background-color: #ED008C;
    outline: none;
    font-family: Quicksand;
    font-size:2vw;
    color: silver;
    border-radius: 7px;
    position: absolute;
    bottom: 15%;
    clear:both;
    min-width:10px;
    margin:auto;
    margin-left:1.5%;
}

#highscorebutton {
    height: 10%;
    width: 10%;
    background-color: #ED008C;
    position: absolute;
    bottom: 2.2%;
    outline: none;
    font-family: Quicksand;
    font-size:2vw;
    color: #FFFFFF;
    border-radius: 7px;
    cursor: pointer;
    outline: none;
	border: none;
    clear:both;
    min-width:10px;
    margin:auto;
    margin-left:1.5%;
}

#highscorebutton:active {
	color: #ED008C;
	background-color: #ffffff;
}

#novicecontent {
    display: none;
    padding : 5px;
}

#ns1 {
    height: 25%;
    width: 90%;
    background-color: #98fc69;
    position: absolute;
    top: 30%;
    left: 5%;
    border-radius: 10px;
    outline: none;
    font-family: Quicksand;
    font-size: 130%;
    cursor: pointer;
}

#ns2 {
    height: 25%;
    width: 90%;
    background-color: #18c91c;
    position: absolute;
    top: 60%;
    left: 5%;
    border-radius: 10px;
    outline: none;
    font-family: Quicksand;
    font-size: 130%;
    cursor: pointer;
}

#intermediatecontent {
    display: none;
    padding : 5px;
}

#is1 {
    height: 25%;
    width: 90%;
    background-color: #85ffe8;
    position: absolute;
    top: 30%;
    left: 5%;
    border-radius: 10px;
    outline: none;
    font-family: Quicksand;
    font-size: 130%;
    cursor: pointer;
}

#is2 {
    height: 25%;
    width: 90%;
    background-color: #27b6ad;
    position: absolute;
    top: 60%;
    left: 5%;
    border-radius: 10px;
    outline: none;
    font-family: Quicksand;
    font-size: 130%;
    cursor: pointer;
}

#advancedcontent {
    display: none;
    padding : 5px;
}

#as1 {
    height: 25%;
    width: 90%;
    background-color: #e5bff6;
    position: absolute;
    top: 30%;
    left: 5%;
    border-radius: 10px;
    outline: none;
    font-family: Quicksand;
    font-size: 130%;
    cursor: pointer;
}

#as2 {
    height: 25%;
    width: 90%;
    background-color: #ca7ced;
    position: absolute;
    top: 60%;
    left: 5%;
    border-radius: 10px;
    outline: none;
    font-family: Quicksand;
    font-size: 130%;
    cursor: pointer;
}
